<h1>Hello world!</h1>

<h2>Working with <code>`Option`</code></h2>
<nav>
    <a asp-controller=Option asp-action=Some>Option Some</a>
    <a asp-controller=Option asp-action=None>Option None</a>
    <a asp-controller=Option asp-action=NoneCustom>Option None Custom</a>
</nav>

<h2>Working with <code>`Result`</code></h2>
<nav>
    <a asp-controller=Result asp-action=Ok>Result Ok</a>
    <a asp-controller=Result asp-action=Error>Result Error</a>
    <a asp-controller=Result asp-action=ErrorCustom>Result Error Custom</a>
</nav>
