name: build

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['9.0.x']
    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Install solution dependencies
        run: dotnet restore src/Danom.Mvc --force-evaluate --no-http-cache --force

      - name: Build Core
        run: dotnet build src/Danom -c Release

      - name: Test Core
        run: dotnet test test/Danom.Tests -c Release

      - name: Build Validation
        run: dotnet build src/Danom.Validation -c Release

      - name: Build Mvc
        run: dotnet build src/Danom.Mvc -c Release

      - name: Test Mvc
        run: dotnet test test/Danom.Mvc.Tests -c Release
