name: build

on:
  push:
    branches: [master]
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          cache: true
          cache-dependency-path: |
            **
            **/NuGet.config
            **/*.sln
            **/*.csproj

      - name: Restore (solution)
        run: dotnet restore  --nologo --verbosity minimal

      - name: Build (solution)
        run: dotnet build  -c Release --no-restore --nologo --verbosity minimal

      - name: Test Core
        run: dotnet test src/Danom -c Release

      - name: Test Validation
        run: dotnet test src/Danom.Validation -c Release

      - name: Test Mvc
        run: dotnet test src/Danom.Mvc -c Release

      - name: Test MinimalApi
        run: dotnet test src/Danom.MinimalApi -c Release
